Flask==2.0.2
gunicorn==20.1.0
sqlalchemy==1.4.32
pydantic
pydantic[email]
python-dotenv==0.20.0
Flask-APScheduler==1.12.3
pytest==7.1.1
celery==5.2.6
celery[redis]
flower==1.0.0
docker-compose==1.29.2
openpyxl==3.0.10